<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801167648474-ackrsd1tvk8p1kbcp4opelovf4ofis56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801167648474-ackrsd1tvk8p1kbcp4opelovf4ofis56</string>
	<key>API_KEY</key>
	<string>AIzaSyADnsswcJE8nCi5_rTdaBmha31c0PkKbg0</string>
	<key>GCM_SENDER_ID</key>
	<string>801167648474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bibixinhdep.flutterAdvanceWidget</string>
	<key>PROJECT_ID</key>
	<string>test-stream-chat-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>test-stream-chat-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801167648474:ios:8747ae10a583f93cc7a7e3</string>
</dict>
</plist>